@import '../../../assets/styles/theme.scss';
.container {
    display: grid;
    grid-template-rows: min-content auto;
    padding: 10px 10px;
    height: 100%;
    overflow: auto;
    .title{
        font-size: 30px;
        padding: 10px 10px;
        font-weight: bold;
        border-bottom: 2px solid black;
    }

    .content {
        display: grid;
        gap: 5px;
        padding-top: 10px;
        height: 100%;
        .box {
            display: grid;
            grid-template-rows: min-content auto;
            background-color: $high-contrast;
            border-radius: 10px;
            height: 100%;
            overflow: hidden;
            .title{
                font-size: 20px;
                padding: 10px 10px;
                font-weight: 500;
                border-bottom: 2px solid white;
                width: 100%;
                color:white;
                padding: 8px 12px;
                text-align: left;
            }
            .box-content {
                color: white;
                padding: 8px 10px;
                font-size: 14px;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(8, max-content);
                gap: 25px;
                overflow: auto;
                .icon-container {
                    display: grid;
                    grid-template-rows: min-content auto;
                    gap: 4px;
                    padding: 6px 12px;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(64, 88, 70, 0.272);
                    }
                }
              
            }
        }
    }
}